#python==3.11.5
soundfile==0.12.1
emoji==1.7.0
googletrans==4.0.0rc1
gTTS==2.5.1
matplotlib==3.8.2
nltk==3.8.1
numpy==1.26.1
pandas==2.1.1
plotly==5.18.0
pyttsx3==2.90
regex==2024.5.15
seaborn==0.13.1
SpeechRecognition==3.10.4
urlextract==1.9.0
wordcloud==1.9.3
vaderSentiment==3.3.2
PyAudio==0.2.14